<div class="main">
  <div class="successmsg" *ngIf="visible2">
    {{ sucessMsg }}
  </div>
  <div class="errormsg" *ngIf="visible">
    {{ errorMsg }}
  </div>
  <div class="topper">
    <div class="search-container">
      <input type="search" id="search-box" placeholder="Search..." />
    </div>
  </div>
  <div class="tourscontainer">
    <div *ngFor="let tour of paginatedTours" class="tour-card">
      <img [src]="tour.image" alt="{{ tour.title }}" class="tour-image" />
      <div class="tour-info">
        <h3>{{ tour.title }}</h3>
        <p>{{ tour.description }}</p>
        <p><strong>Location:</strong> {{ tour.location }}</p>
        <p><strong>Start Date:</strong> {{ tour.start_date | date }}</p>
        <p *ngIf="tour.end_date">
          <strong>End Date:</strong> {{ tour.end_date | date }}
        </p>
        <div class="actions">
          <button (click)="onBookNow(tour.tour_id)">Book</button>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination-controls">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
      << Prev
    </button>

    <button
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === maxPage()"
    >
      Next >>
    </button>
  </div>
  <div class="pageno">Page {{ currentPage }} / {{ maxPage() }}</div>
</div>
