<div class="sidebar">
  <ul>
    <li>
      <a routerLink="/admin/tours"><i class="fa-solid fa-car-side"></i>Tours</a>
    </li>
    <li>
      <a routerLink="/admin/categories"
        ><i class="fa-solid fa-layer-group"></i>Categories</a
      >
    </li>
    <li>
      <a routerLink="/admin/bookings"
        ><i class="fa-solid fa-credit-card"></i>Booking</a
      >
    </li>
    <li>
      <a routerLink="/admin/reviews"><i class="fa-solid fa-star"></i>Reviews</a>
    </li>
    <li>
      <a routerLink="/admin/users"><i class="fa-solid fa-users"></i>Users</a>
    </li>
  </ul>
</div>
