<div class="register">
  <form
    [formGroup]="updateUserForm"
    (ngSubmit)="updateUser()"
    class="form-container"
  >
    <div class="form-group">
      <label class="label">Full name</label>
      <input type="text" formControlName="name" class="input" />
      <div
        *ngIf="
          updateUserForm.get('name')?.invalid &&
          updateUserForm.get('name')?.touched
        "
        class="error-message"
      >
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label class="label">Email</label>
      <input type="email" formControlName="email" class="input" />
      <div
        *ngIf="
          updateUserForm.get('email')?.invalid &&
          updateUserForm.get('email')?.touched
        "
        class="error-message"
      >
        Email is invalid
      </div>
    </div>
    <div class="form-group">
      <label class="label">Phone number</label>
      <input type="text" formControlName="phone_number" class="input" />
      <div
        *ngIf="
          updateUserForm.get('phone_number')?.invalid &&
          updateUserForm.get('phone_number')?.touched
        "
        class="error-message"
      >
        Phone number is required
      </div>
    </div>

    <div class="form-group">
      <label class="label">Password</label>
      <input type="password" formControlName="password" class="input" />
      <div
        *ngIf="
          updateUserForm.get('password')?.invalid &&
          updateUserForm.get('password')?.touched
        "
        class="error-message"
      >
        Password is required
      </div>
    </div>
    <div class="form-group flex items-center justify-between">
      <input
        type="submit"
        [disabled]="updateUserForm.invalid"
        class="submit-button"
        value="Update"
      />
    </div>
  </form>
</div>
