<div class="container">
  <div class="topper">
    <button class="addition" routerLink="/admin/addcategory">
      <i class="fa-solid fa-plus"></i>AddCategory
    </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Category No</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categoriesArr; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td class="actions">
          <button class="view">
            <i class="fa-solid fa-eye" style="color: blue"></i>
          </button>
          <button
            class="btnEdit"
            routerLink="/admin/updatecategory/{{ category.category_id }}"
          >
            <i
              class="fa-solid fa-pen-to-square"
              style="color: rgb(255, 187, 0)"
            ></i>
          </button>
          <button
            class="btnDelete"
            (click)="deleteCategory(category.category_id)"
          >
            <i class="fa-solid fa-trash" style="color: rgb(255, 0, 0)"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
